.button {
  border-radius: 100px;
  width: 50vw;
  max-width: 170px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(14, 116, 209, 1) 30%,
    rgba(34, 167, 242, 1) 100%
  );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.button:enabled:active {
  background: linear-gradient(
    90deg,
    rgba(57, 206, 255, 1) 100%,
    rgba(91, 167, 255, 1) 100%
  );
}

.button:enabled:active,
.button:focus {
  outline: none;
}

.button:hover {
  background: linear-gradient(270deg, #87e1ff 0%, #5ba7ff 100%);
}

.button:active {
  transform: translateY(5px);
}

.light,
.light:enabled:active,
.light:focus {
  background: #fff;
  color: var(--text-color);
  border: 1px solid var(--h3-color);
}
