.user-data {
  background-color: #fff;
  padding: 5vh 0 10vh;
}

.container {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.user-data__title {
  margin-bottom: 5vh;
  text-transform: uppercase;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: -webkit-linear-gradient(270deg, #39ceff 0%, #5ba7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@media (max-width: 800px) {
  .user-data {
    background-color: #fff;
    padding: 0 0 5vh;
  }

  .container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
  }

  .user-data__title {
    margin-bottom: 2vh;
  }

  .success__btn {
    width: 60%;
  }
}
