.hero {
  background-color: var(--bg-color-light);
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
  padding: 15vh 0;
}

.row {
  display: grid;
  grid-template-columns: 35% 52%;
  align-items: center;
  justify-content: end;
}

.hero__header {
  text-transform: uppercase;
  font-size: 3vw;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.hero__img {
  width: 100%;
}

.blue {
  background: -webkit-linear-gradient(270deg, #39ceff 0%, #5ba7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__btn {
  display: inline-block;
  background: linear-gradient(270deg, #39ceff 0%, #5ba7ff 100%);
  color: #fff;
  text-decoration: none;
  padding: 1rem 0;
  border-radius: 100px;
  text-align: center;
  font-family: Mulish;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  width: 15vw;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1280px) {
  .hero__header {
    font-size: 2.5vw;
  }
}

@media (max-width: 800px) {
  .hero {
    height: 100svh;
  }

  .container {
    height: 100svh;
    width: 70%;
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .hero__header {
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }

  .hero__btn {
    width: 190px;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    align-self: center;
  }

  .hero__img {
    width: 100vw;
  }
}
