.hero {
  background-color: var(--bg-color-light);
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.grid {
  padding: 15vh 0;
  display: grid;
  grid-template-columns: 35% 52%;
  align-items: center;
  justify-content: end;
}

.hero__header {
  text-transform: uppercase;
  font-size: 3vw;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.hero__img {
  width: 100%;
}

.blue {
  background: -webkit-linear-gradient(270deg, #39ceff 0%, #5ba7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__btn {
  display: inline-block;
  background: linear-gradient(270deg, #39ceff 0%, #5ba7ff 100%);
  color: #fff;
  text-decoration: none;
  padding: 1rem 0;
  border-radius: 100px;
  text-align: center;
  font-family: Mulish;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  width: 15vw;
  transition: all 0.3s;
}

.hero__btn:hover {
  background: linear-gradient(270deg, #87e1ff 0%, #5ba7ff 100%);
}

.hero__btn:active {
  transform: translateY(5px);
}

.shop {
  background-color: var(--bg-color-light);
  text-align: center;
  padding: 4vh 0;
}

.shop__header,
.delivery__header,
.about__header,
.composition__header {
  text-transform: uppercase;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.row {
  padding: 4vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.delivery {
  background-color: var(--bg-color-dark);
  text-align: center;
  padding: 4vh 0 0;
}

.card {
  width: 65vw;
  max-width: 220px;
  height: 70vh;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 70%;
  margin-bottom: 15px;
}

.card__title {
  color: var(--bg-color-input);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  line-height: 18px;
  font-style: normal;
  margin-bottom: 15px;
}

.card__text {
  color: var(--bg-color-input);
  width: 70%;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: center;
  font-style: normal;
  margin: 0 0 auto 0;
}

.card__text-link {
  text-decoration: none;
  color: var(--h3-color-hover);
}

.about {
  background-color: var(--bg-color-light);
  text-align: center;
  padding: 4vh 0;
}

.about__container {
  display: flex;
  position: relative;
  padding: 4vh 0;
}

.about__img {
  width: 55%;
  border-radius: 30px;
}

.about__text {
  text-align: left;
  padding: 2vh;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  width: 40%;
}

.reverse {
  flex-direction: row-reverse;
}

.about__text-left {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.full {
  width: 100% !important;
  margin: 0;
}

.composition {
  background-color: var(--bg-color-light);
  text-align: center;
  padding-bottom: 1px;
}

.composition__info {
  width: 50%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 15px;
  margin: 3vh auto;
  padding: 2vh;
}

.composition__subheader {
  text-transform: uppercase;
  color: var(--text-color);
  text-align: left;
  margin-bottom: 2vh;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.elements__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elements__container + .elements__container {
  margin-top: 5px;
}

.details {
  display: flex;
  gap: 10px;
  color: var(--text-color);
}

.quantity {
  color: var(--h3-color);
}

.measure {
  color: var(--gray-color);
}

.composition__sertificate {
  display: flex;
  width: 50%;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  margin: 2vh auto;
  gap: 2vw;
}

.composition__img {
  width: 15vw;
  border-radius: 15px;
  box-shadow: 0px 3.2px 8px 0px rgba(16, 69, 141, 0.25);
}

.composition__text {
  color: var(--text-color);
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1280px) {
  .hero__header {
    font-size: 2.5vw;
  }
}

@media (max-width: 800px) {
  .hero {
    height: 100svh;
    padding-top: 10vh;
  }

  .container {
    width: 70%;
    padding: 0;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .hero__header {
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }

  .hero__btn {
    width: 190px;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    align-self: center;
  }

  .hero__img {
    width: 100vw;
  }

  .hero__btn:active {
    transform: translateY(0);
  }

  .row {
    flex-direction: column;
    gap: 2vh;
    padding: 4vh 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .about {
    background-color: #fff;
  }

  .about__container {
    display: block;
    padding: 0;
  }

  .about__img {
    width: 100vw;
    margin-top: 0;
  }

  .about__text {
    text-align: left;
    padding: 3vh 2vh;
    position: static;
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    transform: translate(0, 0);
  }

  .composition {
    padding-top: 4vh;
  }

  .composition__info {
    background-color: #fff;
    width: 90%;
    margin: 3vh auto;
    padding: 2vh;
  }

  .composition__subheader {
    display: none;
  }

  .elements__container {
    line-height: 1;
    font-size: 15px;
  }

  .details {
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
  }

  .composition__sertificate {
    flex-direction: column;
    width: 60%;
  }

  .composition__img {
    width: 100%;
  }

  .composition__text {
    margin: 2vh 0;
  }
}
