.preloader {
  height: 100dvh;
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.preloader__img {
  width: 50%;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.95);
  }
}
