:root {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color-dark: rgb(0, 76, 146);
  --bg-color-light: #edf6ff;
  --bg-color-input: #edf6ff;
  --h2-color: linear-gradient(
    90deg,
    rgba(57, 206, 255, 1) 100%,
    rgba(91, 167, 255, 1) 100%
  );
  --h3-color: #52acff;
  --text-color: #003261;
  --alert-color: #ff8da9;
  --success-color: #00d36e;
  --gray-color: #aab8c6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
